@{
    ViewData["Title"] = "Confirm Email";
}

<div class="mdl-cell mdl-cell--12-col">
    <h3>@ViewData["Title"].</h3>
    <div>
        <p>
            Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
        </p>
    </div>
</div>