@{
    ViewData["Title"] = "Login Failure";
}

<div class="mdl-cell mdl-cell--12-col">
    <hgroup>
        <h3>@ViewData["Title"].</h3>
        <h4 class="text-danger">Unsuccessful login with service.</h4>
    </hgroup>
</div>