@using System.Threading.Tasks
@using Cik.MazSite.WebApp.Models
@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="mdl-cell mdl-cell--12-col">
    <h3>Associate your @ViewData["LoginProvider"] account.</h3>
</div>

<div class="mdl-cell mdl-cell--12-col">
    <form asp-controller="Account"
          asp-action="ExternalLoginConfirmation"
          asp-route-returnurl="@ViewData["ReturnUrl"]"
          method="post" role="form">
        <div class="mdl-grid page-container">
            <div class="mdl-cell mdl-cell--12-col page-row">
                <h4 class="page-title">Association Form</h4>
                <hr />
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            </div>
            <div class="mdl-cell mdl-cell--12-col page-row">
                <p>
                    You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
                    Please enter a user name for this site below and click the Register button to finish
                    logging in.
                </p>
            </div>
            <div class="mdl-cell mdl-cell--6-col page-row">
                <div class="mdl-grid page-container">
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                            <label asp-for="Email" class="mdl-textfield__label"></label>
                            <input asp-for="Email" class="mdl-textfield__input" />
                            <span asp-validation-for="Email" class="mdl-textfield__error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col page-row">
                <button type="submit"
                        class="mdl-button mdl-js-button 
                            mdl-button--raised mdl-button--colored
                            mdl-js-ripple-effect">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}