@using System.Threading.Tasks
@using Cik.MazSite.WebApp.Models
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid page-container">
        <div class="mdl-cell mdl-cell--12-col page-row">
            <h3 class="page-title">@ViewData["Title"]</h3>
            <p>
                For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
            </p>
        </div>
    </div>
</div>

@*<form asp-controller="Account"
            asp-action="ForgotPassword"
            method="post" role="form">
        <div class="mdl-grid page-container">
            <div class="mdl-cell mdl-cell--12-col page-row">
                <h3>Enter your email.</h3>
                <hr />
                <div asp-validation-summary="ValidationSummary.All"></div>
            </div>
            <div class="mdl-cell mdl-cell--6-col page-row">
                <div class="mdl-grid page-container">
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                            <label asp-for="Email" class="mdl-textfield__label"></label>
                            <input asp-for="Email" class="mdl-textfield__input" />
                            <span asp-validation-for="Email" class="mdl-textfield__error"></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col page-row">
                <button type="submit"
                        class="mdl-button mdl-js-button
                            mdl-button--raised mdl-button--colored
                            mdl-js-ripple-effect">
                    Submit</button>
            </div>
        </div>
    </form>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
