@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="mdl-cell mdl-cell--12-col">
    <h3>@ViewData["Title"].</h3>
    <p>
        Please check your email to reset your password.
    </p>
</div>