@{
    ViewData["Title"] = "Locked out";
}

<div class="mdl-cell mdl-cell--12-col">
    <hgroup>
        <h3 class="text-danger">Locked out.</h3>
        <h4 class="text-danger">This account has been locked out, please try again later.</h4>
    </hgroup>
</div>