@using System.Threading.Tasks
@using Cik.MazSite.WebApp.Models
@model SendCodeViewModel
@{
    ViewData["Title"] = "Send Verification Code";
}

<div class="mdl-cell mdl-cell--12-col">
    <form asp-controller="Account"
          asp-action="SendCode"
          asp-route-returnurl="@Model.ReturnUrl" 
          method="post" role="form">
        <div class="mdl-grid page-container">
            <div class="mdl-cell mdl-cell--12-col page-row">
                <input asp-for="RememberMe" type="hidden"/>
            </div>
            <div class="mdl-cell mdl-cell--6-col page-row">
                <div class="mdl-grid page-container">
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                            <label class="mdl-textfield__label">Select Two-Factor Authentication Provider:</label>
                            <select asp-for="SelectedProvider"
                                    asp-items="Model.Providers">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col page-row">
                <button
                    type="submit" 
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}