@using System.Threading.Tasks
@using Cik.MazSite.WebApp.Models
@model VerifyCodeViewModel
@{
    ViewData["Title"] = "Verify";
}

<div class="mdl-cell mdl-cell--12-col">
    <form asp-controller="Account"
          asp-action="VerifyCode"
          asp-route-returnurl="@ViewData["ReturnUrl"]"
          method="post" role="form">
        <div class="mdl-grid page-container">
            <div class="mdl-cell mdl-cell--12-col page-row">
                <h3>@ViewData["Status"]</h3>
                <hr />
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            </div>
            <div class="mdl-cell mdl-cell--6-col page-row">
                <input asp-for="Provider" type="hidden"/>
                <input asp-for="RememberMe" type="hidden"/>
                <div class="mdl-grid page-container">
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                            <label asp-for="Code" class="mdl-textfield__label"></label>
                            <input asp-for="Code" class="mdl-textfield__input"/>
                            <span asp-validation-for="Code" class="mdl-textfield__error"></span>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-checkbox mdl-js-checkbox">
                            <input asp-for="RememberBrowser" class="mdl-checkbox__input"/>
                            <label asp-for="RememberBrowser" class="mdl-checkbox__label"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col page-row">
                <button type="submit"
                        class="mdl-button mdl-js-button 
                            mdl-button--raised mdl-button--colored
                            mdl-js-ripple-effect">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}