@using System.Threading.Tasks
@using Cik.MazSite.WebApp.Models
@model AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Add Phone Number";
}

<div class="mdl-cell mdl-cell--12-col">
    <form asp-controller="Manage"
          asp-action="AddPhoneNumber" 
          method="post" role="form">
        <div class="mdl-grid page-container">
            <div class="mdl-cell mdl-cell--12-col page-row">
                <h3 class="page-title">Add a phone number</h3>
                <hr>
                <div asp-validation-summary="ValidationSummary.All"></div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col page-row">
            <div class="mdl-grid page-container">
                <div class="mdl-cell mdl-cell--12-col page-row">
                    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                        <label asp-for="PhoneNumber" class="mdl-textfield__label"></label>
                        <input asp-for="PhoneNumber" class="mdl-textfield__input"/>
                        <span asp-validation-for="PhoneNumber" class="mdl-textfield__error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col page-row">
            <button type="submit" 
                    class="mdl-button mdl-js-button 
                        mdl-button--raised mdl-button--colored
                        mdl-js-ripple-effect">
                Send verification code
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
