@using System.Threading.Tasks
@using Cik.MazSite.WebApp.Models
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="mdl-cell mdl-cell--12-col">
    <form asp-controller="Manage"
          asp-action="ChangePassword" 
          method="post" role="form">
        <div class="mdl-grid page-container">
            <div class="mdl-cell mdl-cell--12-col page-row">
                <h3 class="page-title">Change Password Form</h3>
                <hr/>
                <div asp-validation-summary="ValidationSummary.All"></div>
            </div>
            <div class="mdl-cell mdl-cell--6-col page-row">
                <div class="mdl-grid page-container">
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                            <label asp-for="OldPassword" class="mdl-textfield__label"></label>
                            <input asp-for="OldPassword" class="mdl-textfield__input"/>
                            <span asp-validation-for="OldPassword" class="mdl-textfield__error"></span>
                        </div>
                    </div>
                </div>
                <div class="mdl-grid page-container">
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                            <label asp-for="NewPassword" class="mdl-textfield__label"></label>
                            <input asp-for="NewPassword" class="mdl-textfield__input"/>
                            <span asp-validation-for="NewPassword" class="mdl-textfield__error"></span>
                        </div>
                    </div>
                </div>
                <div class="mdl-grid page-container">
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                            <label asp-for="ConfirmPassword" class="mdl-textfield__label"></label>
                            <input asp-for="ConfirmPassword" class="mdl-textfield__input"/>
                            <span asp-validation-for="ConfirmPassword" class="mdl-textfield__error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col page-row">
                <button type="submit"
                        class="mdl-button mdl-js-button 
                            mdl-button--raised mdl-button--colored
                            mdl-js-ripple-effect">
                    Change password
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}