@using System.Threading.Tasks
@using Cik.MazSite.WebApp.Models
@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}

<p>
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

<div class="mdl-cell mdl-cell--12-col">
    <form asp-controller="Manage"
          asp-action="SetPassword"
          asp-route-returnurl="@ViewData["ReturnUrl"]"
          method="post" 
          role="form">
        <div class="mdl-grid page-container">
            <div class="mdl-cell mdl-cell--12-col page-row">
                <h4>Set your password</h4>
                <hr/>
                <div asp-validation-summary="ValidationSummary.All"></div>
            </div>
            <div class="mdl-cell mdl-cell--6-col page-row">
                <div class="mdl-grid page-container">
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                            <label asp-for="NewPassword" class="mdl-textfield__label"></label>
                            <input asp-for="NewPassword" class="mdl-textfield__input"/>
                            <span asp-validation-for="NewPassword" class="mdl-textfield__error"></span>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col page-row">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                            <label asp-for="ConfirmPassword" class="mdl-textfield__label"></label>
                            <input asp-for="ConfirmPassword" class="mdl-textfield__input"/>
                            <span asp-validation-for="ConfirmPassword" class="mdl-textfield__error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col page-row">
                <button type="submit"
                        class="mdl-button mdl-js-button 
                            mdl-button--raised mdl-button--colored
                            mdl-js-ripple-effect">
                    Set password
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
