@model Cik.MagazineWeb.WebApp.Infras.ViewModels.HomePage.DashboardViewModel

<div id="dashboard">

    <div class="column left" id="column-1">
				
        <div class="column-content">
				
            <div class="column-title">About Simple Magazine</div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <a href="#">Learn more &#187;</a>

        </div>

    </div>

    <div class="column left" id="column-2">

        <div class="column-content">
				
            <div class="column-title">Follow Us (RSS)</div>

            <ul class="plain-list">
                <li><a href="#" class="feed">Lorem ipsum</a></li>
                <li><a href="#" class="feed">Dolor sit amet</a></li>
                <li><a href="#" class="feed">Consectetur</a></li>
                <li><a href="#" class="feed">Adipicing elit</a></li>
            </ul>

        </div>

    </div>

    <div class="column left" id="column-3">

        <div class="column-content">
				
            <div class="column-title">Help &amp; Support</div>

            <p>Quam velit dapibus quam, ornare suscipit tortor nisl ut tellus.</p>

            <a href="#">Frequently Asked Questions (FAQ) &#187;</a>
				
        </div>

    </div>

    <div class="column right" id="column-4">

        <div class="column-content">
				
            <div class="column-title">Get in touch</div>

            <p>Phone: +46 7152 5412<br/>Email: info@simplemagazine.com</p>

            <a href="#">Online contact form &#187;</a>

        </div>

    </div>

    <div class="clearer">&nbsp;</div>

</div>
