.page-content {
    margin: 5px;
    padding: 5px;
}

.centered-content {
    margin: 0 auto;
    max-width: 960px;
}

/* Customized card layout */
.mdl-card {
    width: auto !important;
}

.mdl-card-panel > .mdl-card__title {
    background: #3F51B5;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 40px;
}

.mdl-card-panel > .mdl-card__supporting-text {
    width: auto !important;
}